.place__image {
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .place__image {
    min-height: 440px;
  }

  @media (max-width: 896px) {
    .place__image {
      min-height: 390px;
    }
  }
}
@media (max-width: 768px) {
  .place__image {
    min-height: 340px;
  }
}
@media (max-width: 400px) {
  .place__image {
    min-height: 320px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 320px) {
  .place__image {
    min-height: 320px;
    width: 100%;
    grid-row: 4;
    grid-column: 1 / span2;
  }
}
