.lead {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  min-height: 1005px;
  padding-top: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
    min-height: 962px;
    padding-top: 48px;
  }
}
@media (max-width: 768px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: 320px;
    min-height: 406px;
  }
}
