.lead__image {
  margin: 0 auto;
  padding: 0;
  padding-top: 64px;
  max-width: 100%;
  min-height: 615px;
}

@media (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;

    min-height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    min-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__image {
    min-height: 200px;
    padding-top: 40px;
  }
}
