.cover {
  margin: 0 auto;
  padding: 0;
  margin-top: 98px;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-origin: border-box;
  object-fit: contain;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .cover {
    margin: 0;
    margin-top: 92px;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 768px;
    min-height: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 320px;
    min-height: 200px;
    background-image: url(../../images/cover_poezd.png);
  }
}
