.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  min-height: 152px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + (58-32) * ((90vw - 320px) / (767 - 320)));
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 280px;
    min-height: 70px;
  }
}
