.place__paragraph {
  margin: 0;
  padding: 0;
  max-width: 484px;
  min-height: auto;
  margin-bottom: 27px;
  margin-top: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
  grid-area: paragraph;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    height: auto;
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    min-height: 156px;
    height: auto;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 25px;
  }
}
